html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

footer {
  background: #eee;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 50px;
  /* border-bottom: 2px solid; */
  padding: 12px 0;
  color: #614754;
}

.sub-title {
  font-size: 25px;
  /* border-bottom: 2px solid; */
  padding: 12px 0;
  color: #9b50ad;
}

.no-auth-home-page{
  font-size: 50px;
  /* border-bottom: 2px solid; */
  padding: 12px 0;
  color: #080808;
}

.no-text-decoration{
  text-decoration: none;
}

.wrapper {
  max-width: 1140px;
  padding: 10px;
  margin: 20px auto;
}

/* create word form */

.create-word {
  background: #f7f7f7;
  padding: 20px;
}

.create-word label,
.create-word select {
  display: block;
}

.create-word label {
  margin-top: 30px;
}

.create-word select {
  padding: 8px;
  width: 200px;
}

.create-word input[type=checkbox] {
  margin: 10px;
}

.create-word input[type=submit] {
  background: #5e2195;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

/* word details page */

.word-details {
  background: #f7f7f7;
  padding: 20px;
}

.word-details p {
  margin: 20px 0;
  font-weight: bold;
}

.word-details button {
  background: #5e2195;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

a.back {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #5e2195;
  margin-bottom: 20px;
}

/* word index page */

.word-index h1 {
  margin-bottom: 40px;
}

.word-index .word-item {
  margin: 10px 0;
  padding: 12px;
  background: #f4f4f4;
}

.word-index .word-item img {
  width: 60px;
  display: inline-block;
}

.word-index .word-item h4 {
  display: inline-block;
  font-weight: normal;
  margin-left: 20px;
}

.word-index .word-item h4 a {
  color: #777;
  text-decoration: none !important;
}
